
.title .catIcon{
	margin: 8px 0 0 11px;
}

.catClear .title {
	margin: 0 0 -4px 0;
	width:100%;
}
.catClear.content{
	margin: 0 0 10px;
}



.title .button{
	border-radius: 0; 
	margin: 2px 3px 0 0; 
	float: right;
}