
.ico{ height: 21px; margin: 0 12px 0 14px; background-position: 0 center !important; padding: 0 0 0 20px; }
.label{ padding-left: 25px; width: 30%; margin: 12px; line-height: 22px; cursor: n-resize; }
.formTbl{ width: 100%; border: 0; }
#close{ width: 23px; }

.aol        { background: url('social/aim.png') no-repeat scroll 5px center transparent; }
.wlm, .hom  { background: url('social/msn.png') no-repeat scroll 5px center transparent; }
.yah, .yam  { background: url('social/yahoo.png') no-repeat scroll 5px center transparent; }
.gt         { background: url('social/gtalk.png') no-repeat scroll 5px center transparent; }
.sky        { background: url('social/skype.png') no-repeat scroll 5px center transparent; }
.fb         { background: url('social/facebook.png') no-repeat scroll 5px center transparent; }
.twi        { background: url('social/twitter.png') no-repeat scroll 5px center transparent; }
.red        { background: url('social/reddit.png') no-repeat scroll 5px center transparent; }
.ste        { background: url('social/steam.png') no-repeat scroll 5px center transparent; }
.spo        { background: url('social/spotify.png') no-repeat scroll 5px center transparent; }
.utb        { background: url('social/youtube.png') no-repeat scroll 5px center transparent; }
.eba        { background: url('social/ebay.png') no-repeat scroll 5px center transparent; }
.pay        { background: url('social/paypal.png') no-repeat scroll 5px center transparent; }
.gma        { background: url('social/gmail.png') no-repeat scroll 5px center transparent; }
.dA         { background: url('social/deviantart.png') no-repeat scroll 5px center transparent; }
.ama        { background: url('social/amazon-2.png') no-repeat scroll 5px center transparent; }
.li         { background: url('social/linkedin.png') no-repeat scroll 5px center transparent; }
.stu        { background: url('social/stumbleupon.png') no-repeat scroll 5px center transparent; }
.mys        { background: url('social/myspace.png') no-repeat scroll 5px center transparent; }
.tbl        { background: url('social/tumblr.png') no-repeat scroll 5px center transparent; }
.api        { background: url('social/apple.png') no-repeat scroll 5px center transparent; }
.irc        { background: url('social/mirc.gif') no-repeat scroll 5px center transparent; }

.urb        { background: url('social/wordpress.png') no-repeat scroll 5px center transparent; }
.urw        { background: url('social/link.png') no-repeat scroll 5px center transparent; }
.url        { background: url('social/photo_delete.png') no-repeat scroll 5px center transparent; }
