/* CMS Specific Stuff */
font.username{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
	font-size: 15px;
	text-decoration: none;
	color: #000000;
}

/* Error Boxes */
.boxred{ border:solid 1px #FF0000 !important; background-color:#660000 !important; color: #FFFFFF !important;}
.boxgreen{ border:solid 1px #00CC00 !important; background-color: #009900 !important; color: #FFFFFF !important;}

/* Fix for chrome webkit autofilling form fields, and making them unreadable (yellow background and text) (iccle) */
input:-webkit-autofill {
    color: #2a2a2a !important;
}

.debug {
    width: 100%;
    overflow: auto;
    margin: 0px 0px 10px 0px;
    background: white;
    color: black;
    font-family: Verdana;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 10px;
    line-height: 13px;
    display: block;
    max-width: 1000px;
}

.wrap{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}
.noBorder{ border: 0 !important; }

.corners-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.corners-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corners-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.corners-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corners-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corners-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corners-right {  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corners-left { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.corners { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }



#contextmenu{
	margin:0;
	padding:0;
	border: 1px solid #000;
	background:#ccc;
}
#contextmenu li {
    list-style-type:none;
    margin:1px;
    padding:2px;
    cursor:pointer;
}
#contextmenu li.hover{
    background: #ddd;
}